<?php

namespace App;

use PhpToro\Application;
use PhpToro\Navigation\StackNavigator;
use App\Screens\HomeScreen;

class App extends Application
{
    public function navigator(): StackNavigator
    {
        return StackNavigator::make()
            ->screen('home', HomeScreen::class);
    }
}
