<View padding="24">
    <Text fontSize="28" fontWeight="bold">Welcome to {{.AppName}}!</Text>
    <Text fontSize="16" color="#666666" marginTop="8">
        Edit app/Screens/HomeScreen.php to get started.
    </Text>
</View>
